
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Arial', sans-serif;
  color: #212529;
 /* background: linear-gradient(to right, #dae2f8, #d6a4a4);*/

  background: linear-gradient(to right, #eef2f3, #8e9eab); /* Subtle gradient background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 600px; /* Adjust as needed for your design */
  margin: auto;
  text-align: center;
}

.header {
  margin-bottom: 2em; /* Space between header and content */
}

.logo {
    max-width: 100px; /* Adjust as necessary for your layout */
    margin-bottom: 20px; /* Adds space below the logo */
    display: block; /* Ensures the logo is centered */
    margin-left: auto;
    margin-right: auto;
}


.main-content {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.icon-row, .action-row, .progress-row {
  margin-bottom: 1em;
}

.icon-container {
  display: inline-block;
  margin: 0 10px;
}

.icon {
  width: 50px; /* Adjust as needed */
  height: auto;
}

.action-row {
  display: flex;
  justify-content: center;
}

.action-container {
  margin: 0 10px;
}

.action {
  cursor: pointer;
  margin-bottom: 0.5em;
}

#diskSelect {
  padding: 0.5em;
  margin-bottom: 0.5em;
}

#startProcess {
  padding: 0.5em 1em;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}

.progress-bar {
  background-color: #CED4DA;
  border-radius: 0.25em;
  overflow: hidden;
}

.progress {
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 0.25em 0;
  border-radius: 0.25em;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .action-row {
    flex-direction: column;
  }
  
  .action-container {
    width: 100%;
    margin-bottom: 1em;
  }
}
